modules = ["bash", "python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Full Stack Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 44765265
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[[workflows.workflow]]
name = "Backend API"
author = 44765265
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow]]
name = "Full Stack Dev"
author = 44765265
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 33059
externalPort = 5000

[[ports]]
localPort = 35289
externalPort = 3000

[[ports]]
localPort = 38163
externalPort = 4200

[[ports]]
localPort = 39907
externalPort = 3003

[[ports]]
localPort = 42005
externalPort = 3001

[[ports]]
localPort = 46279
externalPort = 3002
